<div class="home-navbar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' request.user.profile.id %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'subscriped_videos' %}">Subscriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'history' %}">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Your videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Watch later</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Liked videos</a>
        </li>


    </ul>
</div>