.search-box {
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    height: 36px;
    
    flex:1;
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
    
    
}


.header {
    display: flex;
    flex-direction: row;
    height: 57px;
    justify-content: space-between;
    

}

.left-section {
    align-items: center;
    display: flex;
}

.middle-section {
    
    flex: 1;
    margin-left: 60px;
    max-width: 650px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.right-section {
    width: 182px;
    margin-left: 29px;
    margin-right: 24px;
    align-items: center;
    
    display: flex;
}



.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.profile-picture-menu{
    height: 30px;
    margin-left: 24px;
    margin-right: 20px;
    border-radius: 15px;
}

.youtube-logo{
    height: 20px;
    margin-left: 24px;
    margin-right: 20px;
}

.search-button{

    background-color:rgb(204, 204, 204);
    border-color: rgb(204,204,204);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
    

}



.search-icon{
    margin-top: 4px;
    height: 25px;
    width :25px;
}
.voice-search-icon{
    height: 38px;
    width: 25px;
}

.login{

    background-color: white;
    border-radius: 3px;
    border-color: rgb(6,95,212);
    color: rgb(6, 95, 212);
    border-width: 1px;
    font-weight: 7px;

}



