{% extends "main.html" %}
{% load static %}

{% block content %}

    <div class="home-container">

    
        <div class="video-container">

            {% for video in videos %}
            <div class="video-preview">
                <div>
                    <a href="{% url 'video' pk=video.id %}">
                        <img class="thumbnail" src="{{ video.thumbnnail.url }}" alt="">
                    </a>
                </div>
                <div class="video-info-container">
                    <div class="channel-picture">
                        <a href="{% url 'video' pk=video.id %}">
                            <img class="profile-picture" src="{{ video.owner.profile_image.url }}" alt="">
                        </a>
                    </div>
    
                    <div class="video-info">
                        <p class="video-title">{{ video.title }}</p>
    
                        <p class="video-author">{{ video.owner }}</p>
    
                        <p class="video-stats">3.4M views &#183; {{ video.created|timesince}} ago</p>
                    </div>
    
                </div>
    
            </div>
            {% endfor %}

    
    
        </div>
    </div>

{% endblock content %}