{% extends "main.html" %}
{% block content %}
{% load static %}


<style>
    .comment-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        
    }

    .content{
        margin: 20px;
        padding-left: 20px;
    }

    video{
        max-width: 1212px;
        max-height: 682px;
    }

    .comment-profile-image{
        height: 38px;
        border-radius: 19px;

    }

    .comment-creation-date{
        font-size: 10px;
        color: rgb(96, 96, 96);
        display: inline;
    }

    .comment{
        display: grid;
        grid-template-columns: 1fr 11fr;
        margin-bottom: 20px;
    }

    .comment-profile-name{
        font-size: 12px;
        display: inline;
        font-weight: bold;
    }

    .comment-body{

        font-size: 13px;
        display: inline;
    }
    .video_list{
        padding-top: 20px;
    }

    
    .comment-form-style{
        display: grid;
        grid-template-columns: 70px 1fr;
        padding-bottom: 50px;

    }

    .comment-form{
        display: grid;
        grid-template-rows: 1fr 1fr
    }

    .comment-text-field{
        width: 100%;
        border: none;
        border-bottom: 2px solid rgb(164, 163, 163);
        
    }
    .comment-submmit{
        object-position: right;
        background-color: rgb(239, 239, 239);
        color: rgb(96, 96, 96);
        border-radius: 3px;
        border-width: 0px;
        padding: 8px 13px;
        font-weight: bold;
        font-size: smaller;
    }

    .video-description-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 3fr;
    }

    .profile-image{
        height: 38px;
        border-radius: 19px;
        
        
    }

    .profile-name{
        display: inline; 
        margin-left: 25px;
        font-size: 15px;
    }

    .count_followers{
        font-size: 13px;
        margin-left: 25px;
        color: rgb(96, 96, 96);
    }

    .subscribe{
        object-position: right;
        background-color: rgb(229, 8, 8);
        color: white;
        border-radius: 3px;
        border-width: 0px;
        padding: 8px 13px;
        font-weight: bold;
        font-size: smaller;
    }

    .subscribed{
        object-position: right;
        background-color: rgb(239, 239, 239);
        color: rgb(96, 96, 96);
        border-radius: 3px;
        border-width: 0px;
        padding: 8px 13px;
        font-weight: bold;
        font-size: smaller;
    }
    .profile-information{
        display: grid;
        grid-template-columns: 1fr 7fr 2fr;
        align-items: center;
        
    }
    h4{
        margin: 0px;
    }

    .like-dislike-container{
        display: grid;
        grid-template-columns: 1fr 1fr 15fr;
        align-items: center;
    }
    .like_dislike{
        width: 20px;
    }
</style>


    <div class="comment-container">


        

        <div class="content">
            
            <video class="embed-responsive embed-responsive-16by9" controls="controls" autoplay >
                <source src="{{video.body.url}}" type="video/mp4" />
            </video>

            <div class="video-description-container">


                <div>
                    <!-- video title -->
                    <h4 class="text-left mt-2 mb-2">{{video.title}}</h4>
                </div>

                <div class="profile-information">
                    <!-- user logo and subscribe -->
                    <div>
                        <img class="profile-image" src="{{ profile.profile_image.url }}" alt="">
                    </div>
                    
                    <div>
                        <p class="profile-name">{{ profile.channel_name }}</p>
                        {% if profile.count_followers == 0 %}
                        <p class="count_followers">No subscribers</p>
                        {% else %}
                        <p class="count_followers">{{ profile.count_followers }} subscriber{{ profile.count_followers|pluralize:"s" }}</p>
                        {% endif %}
                    </div>
                    
                    <div>
                        {% if request.user in profile.followers.all %}
                        <a href="{% url 'unsubscribe' profile.id %}?next={{request.path}}"><button
                                class="subscribed">SUBSCRIBED</button></a>
                                <!-- TODO bell -->
                    
                        {% else %}
                        <a href="{% url 'subscribe' profile.id %}?next={{request.path}}"><button class="subscribe">SUBSCRIBE</button></a>
                        {% endif %}
                    </div>
                </div>

                <div class="like-dislike-container">
                    <!-- like dislike  -->
                    <div>
                        <!-- like -->
                        <img class="like_dislike" src="{% static 'images/icons/white_like.png' %}" alt="">

                    </div>

                    <div>
                        <!-- dislike -->
                        <img class="like_dislike" src="{% static 'images/icons/white_dislike.png' %}" alt="">

                    </div>

                    <div>
                        <!-- other -->
                        <p>share</p>

                    </div>

                </div>

                <div>
                    <!-- description -->
                    <p class="video-stats" style="color: black; font-weight: bold; font-size: 13px;" >{{ video.views_count }} views &#183; {{ video.created|timesince}} ago</p>
                    <p class="text-left mt-2 mb-2">{{video.description}}</p>
                </div>


            </div>

            <p class="comment-count">{{ comments.count }} Comments</p> 

            <div class="comment-form-style">

                <div>
                    <img class="comment-profile-image" src="{{ video.owner.profile_image.url }}" alt="">
                </div>

                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="comment-form">

                            <div >
                                {{form}}
                            </div>

                            <div>
                                <input class="comment-submmit" type="Submit" value="COMMENT">
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            {% for comment in comments %}
            <div class="comment">
                <div >
                    <!-- picture -->
                    <a href="{% url 'profile' comment.owner.id %}">
                        <img class="comment-profile-image" src="{{ comment.owner.profile_image.url }}" >
                    </a>
                </div>

                <div>
                    <!-- content -->

                    <div>
                        <!-- meno -->
                        <a href="{% url 'profile' comment.owner.id %}">
                            <p class="comment-profile-name">{{ comment.owner }}</p>
                        </a>
                        <p class="comment-creation-date" tabindex="-1">{{comment.created|timesince}}</p>
                    </div>

                    <div>
                        <!-- comment body -->
                        <p class="comment-body">{{ comment.body }}</p>
                    </div>

                    <div>
                        <!-- like dislike heard replies ... -->
                    </div>

                </div>

            </div>
            {% endfor %}
        </div>


        <div class="video_list">
            {% for video in video_list %}
                <div class="video-preview">
                    <div>
                        <a href="{% url 'video' pk=video.id %}">
                            <img class="thumbnail" src="{{ video.thumbnail.url }}" alt="">
                        </a>
                    </div>
                    
                
                    <div class="video-info">
                        <a href="{% url 'video' pk=video.id %}">
                            <p class="video-title">{{ video.title }}</p>
                        </a>
            
                        <a href="TODO">
                            <p class="video-author">{{ video.owner }}</p>
                        </a>
            
                        <a href="{% url 'video' pk=video.id %}">
                            <p class="video-stats">{{ video.views_count }} views &#183; {{ video.created|timesince}} ago</p>
                        </a>
                    </div>
            
                    
                
                </div>
            {% endfor %}
        </div>
    




    </div>


    
{% endblock content %}